<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    </configSections>
    <modules>
        <!--assemblyFile：程序集名称-->
        <!--moduleType：通过typeof(SubModule).AssemblyQualifiedName获取-->
        <!--moduleName：模块名称-->
        <!--startupLoaded：是否在启动时加载，false则按需加载-->
        <module assemblyFile="StudyPrism.Module.Sub"
                moduleType="StudyPrism.Module.Sub.SubModule, StudyPrism.Module.Sub, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="SubModule"
                startupLoaded="false"
        />
    </modules>
</configuration>